body {
    font-family: "Lucida Console", Monaco, monospace;
font-size: 3em;
background-color: #000000;
color: #ffffff;

}

.gui{
    color: #aaaaaa;
    width: 100%;
    text-align: center;
    }

.gain-slider{
    width: 90%;
    }

.textbox {
    width: 100%;
    text-align: center;
    white-space: pre-line;
    }

#title{
	text-align:center;
}

#progress-text{
text-align:center;
color: #00ccff;
width:100%;

}
#load-button {
width: 100%;
height: 30%;
font-size: 2em;
font-family: "Lucida Console", Monaco, monospace;


border: 10px solid #ffffff;
background-color: Transparent;
color: #ffffff;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.4px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 23.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #aaaaaa;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 50px;
  width: 29px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #c1c1c1;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 23.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #aaaaaa;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 50px;
  width: 29px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 23.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #939393;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #aaaaaa;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 50px;
  width: 29px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 23.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #aaaaaa;
}
input[type=range]:focus::-ms-fill-upper {
  background: #c1c1c1;
}
